<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="home.css">

  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bangers |Gochi+Hand|Hammersmith+One|Luckiest+Guy|Ubuntu+Mono" rel="stylesheet">
</head>




<body>

<div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<nav class="navbar  navbar-inverse  navbar-fixed-top" style="background-color: #222222;">
  <div class="container">
  <button type="button" class="navbar-toggle"
  data-toggle="collapse"
  data-target=".navbar-collapse" id="nav" 
  >
  <span class="sr-only"> Toggle navigation</span>
  <span class="icon-bar"> </span>
  <span class="icon-bar"> </span>
  <span class="icon-bar"> </span>/
  </button>
   <img src="x.jpg" id="icon">
   <a class="navbar-brand" href="" style="font-family: 'Acme', sans-serif; font-family: Acme, sans-serif;     font-size: 25px;
    margin-top: 11px;"> BuyBox
   
       <div class="navbar-collapse collapse">
           <ul class="nav navbar-nav navbar" style="font-family: Hammersmith One, sans-serif; margin-top: -8px;
    font-size: 15px; margin-left: 169px;">
         <li id="hm"><a href="/home">Home</a> </li>
         <li id="pro"><a href="/products">Products</a></li>
         <li id="cnt"><a href="/about">About</a></li>
         <li><form style="margin-left: 38px; margin-top: 9px;" ><input class="mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-warning" type="submit">Search</button>
    </form></li>
         <li style="margin-left: 184px; margin-top: 10px;"><a href="/login"><button class="btn btn-success" type="submit" >Login</button></a></li>
         <li style=" margin-top: 10px; margin-left: 16px;"><a href="/signup"><button class="btn btn-primary" type="submit">Sign Up</button></a></li>
      
           </ul>
         </li>
       </ul>
       </div>
  </div>
</nav>
</div>

<div style="padding-bottom: 70px;">
<img src="ecom-icon-lander-set1.png" style="    margin: 130px; width: 120px; margin: 130px; width: 104px; margin-left: 358px; margin-top: 146px;"></style>>
<h1 style="font-family: 'Luckiest Guy', cursive;     margin-top: -198px;
    margin-left: 465px;">Place for all your tech crave!</h1>
<h2 style="font-family: 'Bangers', cursive; margin-left: 464px;
    font-family: 'Bangers', cursive;
    margin-top: 29px;">Best gadgets for the Best prices</h2>
<img src="123.jpg" style="    width: 303px;
    margin-left: 542px;
  ">
</div>


<div class="row" id="r1" >
<h1 style="font-family: 'Gochi Hand', cursive;     color: rgba(240, 240, 240, 0.96);
    margin-top: -120px;
    margin-bottom: 61px;
    margin-left: 541px;">Coolest toys in town!</h1>

<img src="w.jpg" style="width: 60px;
    margin-top: -180px;
    margin-left: 458px;">

<img src="spec.jpg" style="width: 60px;
    margin-top: -180px;
    margin-left: 358px;">

<div class="col-md-7" id="slideshow" style="    margin-left: 289px;
    margin-top: -50px;">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="position:relative;z-index:1;">
  <!-- Indicators -->
  <ol class="carousel-indicators" style="z-index:1 !important">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    <li data-target="#myCarousel" data-slide-to="3" class=""></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
      <div class="item active ">
        <img src="headphones.jpg" alt="Los Angeles" style="width:1920px; height:500px;">
        <div class="carousel-caption">
          <h3>All the Bass you need!</h3>
          <p>Checkout our newest range of headphones</p>
        </div>
      </div>

      <div class="item ">
        <img src="imac.jpg" alt="Chicago" style="width:1920px; height:500px;">
        <div class="carousel-caption">
          <h3>The Beast</h3>
          <p>The Wait is over! <b>i-Mac Pro</b>'s back</p>
        </div>
      </div>
    <div class="item ">
        <img src="fitness1.jpg" alt="Chicago" style="width:1920px; height:500px;">
        <div class="carousel-caption">
          <h3>Tune your steps</h3>
          <p><b>Moov Now</b>'s got your back!' </p>
        </div>
      </div>
      <div class="item ">
        <img src="home.jpg" alt="Chicago" style="width:1920px; height:500px;">
        <div class="carousel-caption">
          <h3>A.I in your living room</h3>
          <p>Experience <b>Google Home</b></p>
        </div>
      </div>
      
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>
<div style="background-color: rgba(64, 64, 64, 0.39);
    margin-top: -29px;
    padding-top: 15px;">

<h1 style="font-family: 'Luckiest Guy'; margin-left: 529px;
        color: azure; ;
    margin-top: 29px; ">Top Rated Products</h1>
</div>



<div class="row" style="    padding-bottom: 33px;
    background: rgba(64, 64, 64, 0.39); margin-top: -10px;">

<div class="col-md-3" style="    margin-left: 262px;
    margin-top: 18px;">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="position:relative;z-index:1;">
  <!-- Indicators -->
  <ol class="carousel-indicators" style="z-index:1 !important">
    <li data-target="#myCarousel" data-slide-to="5" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="6" class=""></li>
    <li data-target="#myCarousel" data-slide-to="7" class=""></li>

  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="s8.jpg" alt="" style="width:325px; height:200px;">
      </div>
    <div class="item ">
        <img src="fit2.jpg" alt="" style="width:325px; height:200px;">
      </div>
      <div class="item ">
        <img src="ear.jpg" alt="" style="width:325px; height:200px;">
      </div>
      
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
  


<div class="col-md-3" style="    margin-left: 145px;
    margin-top: 18px;">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="position:relative;z-index:1;">
  <!-- Indicators -->
  <ol class="carousel-indicators" style="z-index:1 !important">
    <li data-target="#myCarousel" data-slide-to="5" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="6" class=""></li>
    <li data-target="#myCarousel" data-slide-to="7" class=""></li>

  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="echo.jpg" alt="" style="width:325px; height:200px;">
      </div>
    <div class="item ">
        <img src="home.jpg" alt="" style="width:325px; height:200px;">
      </div>
      <div class="item ">
        <img src="imac.jpg" alt="" style="width:325px; height:200px;">
      </div>
      
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>
  
</div>    
</div>

<div class="row" id="footer1">
<h2 id="arndw" style="font-family: 'Luckiest Guy';">Around the Web</h2>
<h3 id="loc">Location<h2>
<h3 id="tri">Trivandrum,Kerala</h3>
<img src="il_570xN.1214155158_r8b9.jpg" id="social">
</div>

<div class="row" id="foot">
  <h4 id="dev" style="font-family: Hammersmith One, sans-serif;">Developed by BuyBox</h4>
</div>
</body>
</html>