<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="home.css">

  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bangers |Gochi+Hand|Hammersmith+One|Luckiest+Guy|Ubuntu+Mono" rel="stylesheet">
</head>




<body>

<div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</div>
<nav class="navbar  navbar-inverse  navbar-fixed-top" style="background-color: #222222;">
  <div class="container">
  <button type="button" class="navbar-toggle"
  data-toggle="collapse"
  data-target=".navbar-collapse" id="nav" 
  >
  <span class="sr-only"> Toggle navigation</span>
  <span class="icon-bar"> </span>
  <span class="icon-bar"> </span>
  <span class="icon-bar"> </span>/
  </button>
   <img src="x.jpg" id="icon">
   <a class="navbar-brand" href="" style="font-family: 'Acme', sans-serif; font-family: Acme, sans-serif;     font-size: 25px;
    margin-top: 11px;"> BuyBox
   
       <div class="navbar-collapse collapse">
           <ul class="nav navbar-nav navbar" style="font-family: Hammersmith One, sans-serif; margin-top: -72px;
    font-size: 15px; margin-left: 169px;">
         <li id="hm"><a href="/">Home</a> </li>
         <li id="pro"><a href="/products">Products</a></li>
         <li id="cnt"><a href="/about">About</a></li>
         <li><form style="margin-left: 38px; margin-top: 9px;" ><input class="mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-warning" type="submit">Search</button>
    </form></li>
         <li style="margin-left: 184px; margin-top: -4px;"><a href="/login"><button class="btn btn-success" type="submit" >Login</button></a></li>
         <li style=" margin-top: -4px; margin-left: 16px;"><a href="/signup"><button class="btn btn-primary" type="submit">Sign Up</button></a></li>
      
           </ul>
         </li>
       </ul>
       </div>
  </div>
</nav>

<div class="row>" id="r1" style="    background: rgb(202, 203, 204);">
       <% for(var i=0;i<res.length;i++){%>
        <div class=" col-md-3" id="u1" style="     background: rgb(202, 203, 204);">
          <div class="thumbnail"> 
            <img src="<%= res[i].photo %>" style="width:320px; height:200px;">
              <div class="caption">
                <h4><%= res[i].product %></h4>
                <p> Price: <b><%= res[i].price %><br/></p>
               <a href="/login" class="btn btn-danger btn-l" role="button">Buy</a>
               <a href="/sc/<%= res[i].product %>" class="btn btn-warning btn-l" role="button">View Product</a>
            </div>
          </div>
          </div>
          <% } %>
    </div>



<div class="row" id="footer1">
<h2 id="arndw" style="font-family: 'Luckiest Guy';">Around the Web</h2>
<h3 id="loc">Location<h2>
<h3 id="tri">Trivandrum,Kerala</h3>
<img src="il_570xN.1214155158_r8b9.jpg" id="social">
</div>

<div class="row" id="foot">
  <h4 id="dev" style="font-family: Hammersmith One, sans-serif;">Developed by BuyBox</h4>
</div>
</body>
</html>